@import "tailwindcss";

/* 🎨 테마 정의 */
@theme {
  --color-primary: #ff9f43;
  --color-secondary: #ffe8c7;
  --color-bg: #fff9ed;
  --color-text: #4b3f2f;
  --color-muted: #a38b6d;
  --color-input: #fff3de;
  --color-border: #ffd18e;
}

/* 🌿 스크롤바 숨기기 (공용 유틸 클래스) */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

button {
  cursor: pointer;
}
